.container-products {
  width: auto;
  margin: 30px 1%;
  background-color: #d7ecfd;
  border-radius: 20px;
  padding: 10px 30px;
}
.conteiner-cards-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.card-product {
  background-color: #cecece;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  height: 200px;
}

.card-product .img-card {
  background-color: #fff;
  border-radius: 20px;
  width: 150px;
  height: 100px;
}

.card-product .type-card {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.card-product .title-card {
  padding: 0;
  margin: 0;
}
.card-product .card-price {
  display: flex;
  padding: 0;
  margin-top: 10px;
  justify-content: space-between;
}

.container-price {
  margin-left: 5px;
}

.container-price .price-total {
  font-size: 12px;
  color: red;
  text-decoration: line-through;
}

.container-price .price-deals {
  padding: 0;
  margin: 0;
}

.card-price .card-button {
  border: none;
  background-color: #f6e2ab;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
