.container-products {
  width: 100%;
  border-radius: 20px;
}
.header-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.conteiner-cards-products {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 1%;
  justify-content: space-between;
}

.card-product {
  font-size: large;
  width: 15%;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: 1%;
  height: 200px;
  text-decoration: none;
  color: black;
}

.container-img-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product .img-card {
  background-color: #fff;
  border-radius: 20px;
  height: 100px;
}

.card-product .type-card {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-product .title-card {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-product .card-price {
  display: flex;
  padding: 0;
  margin-top: 10px;
  justify-content: space-between;
}

.container-price {
  margin-left: 5px;
}

.container-price .price-total {
  color: red;
  text-decoration: line-through;
}

.container-price .price-deals {
  padding: 0;
  margin: 0;
}

.card-price .card-button {
  border: none;
  background-color: #f6e2ab;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .card-product {
    width: 20%;
    font-size: small;
  }
}
@media (max-width: 640px) {
  .card-product {
  }
}
@media (max-width: 540px) {
  .card-product {
    width: 30%;
    font-size: small;
  }
}
@media (max-width: 350px) {
  .more-products {
    display: none;
  }
}
