.search-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  gap: 1%;
  height: fit-content;
  padding: 5px;
  justify-content: space-between;
}

.search-bar input {
  border: 0.5px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.search-bar button {
  margin: 0;
  border: 0;
  border-radius: 5px;
  background-color: #1c4606;
  color: white;
}
@media screen and (max-width: 540px) {
  .search-bar button,
  .search-bar input {
    width: auto;
  }
}
