body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-top: 60px;
}
.remove-pading-margin {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ------------NAVBAR------------ */
.navbar {
  background-color: #f8f9fa;
  border-bottom: 2px solid #eee;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}
.container-navbar {
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.navbar-brand img {
  max-height: 40px;
}
.container-navbar div {
  display: flex;
  margin-right: 25px;
  column-gap: 25px;
}

.navbar .nav-link {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #333;
  font-weight: 500;
  margin-right: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #007bff;
}

.navbar .nav-link.active {
  color: #007bff;
  font-weight: bold;
}

.nav-link img {
  vertical-align: middle;
}
/* 
----------------MAIN CONTENT---------------- */

#main-content {
  padding-inline: 20px;
  padding-bottom: 2%;
}

.loader {
  border: 3px solid #ccc;
  border-top: 3px solid #df5a3d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.conteiner-loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------FOOTER------------ */

footer {
  height: auto;
  background-color: #f6e2ab;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.footer-container {
  display: flex;

  justify-content: space-between;
  width: 100%;
  height: 80%;
}
.footer-contact {
  height: 80%;
}
footer form {
  display: flex;
  padding: 5px;
  background-color: #fff;
  border-radius: 15px;
}
footer form input {
  border-radius: 15px;
  border: none;
}
footer form button {
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

footer a {
  color: inherit;
  text-decoration: none;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
}

.footer-legal {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  header {
    margin-top: 80px;
  }

  .navbar {
    padding: 10px;
  }
  .container-navbar {
    height: 50px;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  footer a {
    color: inherit;
    text-decoration: none;
    margin-block: 5px;
  }

  footer form {
    display: flex;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
  }
}

@media (max-width: 540px) {
  .footer-container {
    width: 100%;
  }
  body {
    font-size: small;
  }
  .display-off {
    display: none;
  }
}

@media (max-width: 350px) {
  body {
    font-size: x-small;
  }
}
