.product-details {
  display: flex;
  gap: 20px;
}

.product-details .product-image {
  width: 50%;
}
.conteiner-product-detail-image {
  display: flex;
  justify-content: center;
}

.product-info {
  width: 50%;
}

.product-details-container {
  margin-bottom: 4%;
}

.product-info h2 {
  width: 90%;
  padding-bottom: 2%;
  border-bottom: 1px solid #aaaaaa;
}
.product-info h5,
p {
  font-size: 80%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
}
.text-gray {
  color: #747171;
}
.text-red {
  color: red;
}
.product-info h4 {
  font-size: 90%;
  padding: 0;
  margin: 0;
}

.product-price {
  display: flex;
  align-items: baseline;
}
.product-price h4 {
  margin: 0;
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-quantity button {
  background-color: #fff;
  border: 1px solid #aaaaaa;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.quantity-value {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  min-width: 50px;
  width: fit-content;
  height: 30px;
  border-radius: 5px;
}
.quantity-value h3 {
  margin-block: 0;
  margin-right: 10%;
  padding: 0;
  font-size: large;
}
.quantity-value p {
  margin: 0;
  padding: 0;
  font-size: small;
}

.add-product {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  width: 100%;
  background-color: #df5a3d;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

@media (max-width: 768px) {
  .card-product {
    width: 20%;
    font-size: small;
  }
}
@media (max-width: 640px) {
  .card-product {
  }
}
@media (max-width: 540px) {
  .product-details {
    font-size: medium;
  }
  .conteiner-product-detail-image {
    width: 75%;
  }
  .product-details .product-image {
    width: 75%;
  }
}
@media (max-width: 350px) {
  .product-details {
    display: block;
    font-size: medium;
  }
  .product-info {
    width: 100%;
  }
}
